.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container{
  max-width: 1140px;
  margin: 0 auto
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link-list{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.active-link{
  font-weight: bold;
}
.link-item{
  padding: 5px 10px;
}
.link-item a{
  padding: 5px 10px;
  background-color: #eee;
}
.book-item img{
  max-width: 100px;
  height: auto;
}
.user{
  padding: 20px 0;
}
.link-list a, .btn{
  margin: 0 5px;
  background-color: #99f;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  //font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.link-list a:hover, .btn:hover{
  filter: brightness(90%);
}
.link-list a.active{
  font-weight: bold;
  text-decoration: underline;
}
.input-wrappper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.input-wrappper *:not(:first-child){
  margin-top: 20px;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner{  
  animation: spinner 2s linear infinite;
}
/*.profile-container p, .profile-container li {
  text-align: left;
}
.profile-container li{
  list-style: none;
}*/